<template>
    <section>
        <div class="card" style="box-shadow: none;">
            <div class="card-body">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h4 class="box-title mt-3 mb-3" style="font-size: 1.14rem;">
                            <span v-if="getIdPessoa">
                                Editar
                            </span>
                            <span v-else>
                                Cadastrar
                            </span>
                            Pessoa
                        </h4>
                        <a class="button-close" @click="fecharModal()">
                            <i class="fas fa-times" style="height: 0.75em;"></i>
                        </a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div v-if="getIdPessoa && !pessoa.nome" class="fa-2x text-center">
                            <i class="fas fa-spinner fa-spin"></i>
                        </div>

                        <form v-else role="form" id="quickForm" novalidate="novalidate">

                            <div class="form-group">
                                <label>Nome <span class="required">*</span></label>
                                <input type="text" v-model="pessoa.nome" class="form-control text-capitalize">
                                <span v-if="erro && erro.nome" class="error invalid-feedback d-block">
                                    {{ erro.nome }}
                                </span>
                            </div>

                            <div class="form-group">
                                <label>CPF <span class="required">*</span></label>
                                <input v-mask="'###.###.###-##'" placeholder="___.___.___-__" type="tel" v-model="pessoa.cpf" class="form-control text-capitalize">
                                <span v-if="erro && erro.cpf" class="error invalid-feedback d-block">
                                    {{ erro.cpf }}
                                </span>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label>Celular <span class="required">*</span></label>
                                        <input type="tel" v-mask="'(##) #####-####'" placeholder="(__) _____-____" v-model="pessoa.celular" class="form-control text-capitalize">
                                        <span v-if="erro && erro.celular" class="error invalid-feedback d-block">
                                            {{ erro.celular }}
                                        </span>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <label>Data de nascimento </label>
                                        <input v-mask="'##/##/####'" placeholder="__/__/____" type="tel" v-model="pessoa.data_nascimento" class="form-control text-capitalize">
                                        <span v-if="erro && erro.data_nascimento" class="error invalid-feedback d-block">
                                            {{ erro.data_nascimento }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div v-if="salvando" class="fa-1x text-center">
                                <i class="fas fa-spinner fa-spin"></i>
                            </div>

                            <button v-else type="button" v-on:click="salvar()" class="btn btn-success btn-block">
                                Salvar
                            </button>

                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</template>

<script src="./acao-formulario.js"></script>

<style scoped>
    .button-close {
        position: absolute;
        top: 15px;
        right: 30px;
        font-size: 32px;
    }
</style>
