<template>
    <section>
        <div class="content-wrapper" style="min-height: 487px;">

            <!-- Content Header (Page header) -->
            <div class="content-header titulo-pagina">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Pessoa</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 col-12 mb-3">
                            <button v-on:click="pagFormulario()" type="button" class="btn btn-primary mr-md-3">
                                <i class="fas fa-plus mr-1"></i>
                                Cadastrar
                            </button>
                        </div>
                        <div class="col-sm-4 col-12 mb-3">
                            <div class="card-tools">
                                <div class="input-group input-group-sm">
                                    <input type="text" v-model="q" v-on:keyup.enter="listar(1)" name="table_search" class="form-control float-right" placeholder="Pesquisar por Nome ou CPF" autocomplete="off">
                                    <div class="input-group-append">
                                        <button type="button" v-on:click="listar(1)" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <p class="text-left text-gray mt-4" v-if="pessoas.total > 0">
                            Você possui <span class="total-p">{{ pessoas && pessoas.total ? pessoas.total : '' }}</span>
                            pessoa(s).
                        </p>
                        <carregando v-if="carregando" :size="2"></carregando>
                    </div>


                    <div class="row" v-if="pessoas && pessoas.data">

                        <div class="col-md-4 offset-4 col-12 mt-3" v-if="pessoas.data.length <= 0">
                            <div class="alert alert-warning">
                                <i class="fas fa-exclamation-triangle mr-1"></i>
                                Nenhum registro foi cadastrado.
                            </div>
                        </div>

                        <div :class="('col-md-3 mt-1 xcol-' + item.id)" v-for="item of pessoas.data">
                            <div class="card">

                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-aqua-active">
                                        <h3 class="widget-user-username">{{ item.nome }}</h3>
                                        <p class="mb-0 text-left mt-2">
                                            <strong>CPF:</strong> {{ item.cpf }}
                                        </p>
                                        <p class="mb-0 text-left">
                                            <strong>Celular:</strong> {{ item.celular }}
                                        </p>
                                        <p v-if="item.data_nascimento" class="mb-0 text-left">
                                            <strong>Data de Nasc.:</strong> {{ item.data_nascimento }}
                                        </p>
                                    </div>
                                    <div class="box-footer">

                                        <div class="row">
                                            <div class="col-md-12 mt-4 mb-2 d-flex justify-content-center">
                                                <button v-on:click="pagFormulario(item.id)" class="btn btn-default btn-sm ml-1">
                                                    <i class="fas fa-pencil-alt mr-1"></i> Editar
                                                </button>
                                                <button class="btn btn-default btn-sm" v-on:click="apagar(item)">
                                                    <i class="fas fa-trash-alt mr-1"></i> Apagar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>
                        </div>

                    </div>

                    <div v-if="pessoas && pessoas.data" class="card-footer clearfix mt-4">
                        <pagination :data="pessoas" :limit="1" :size="'small'" :align="'center'" @pagination-change-page="listar"></pagination>
                    </div>

                </div><!-- /.container-fluid -->
            </section>

            <slideout-panel></slideout-panel>

        </div>
    </section>
</template>

<script src="./acao-listar.js"></script>

<style scoped>

</style>
