<template>
    <section>
        <div class="content-wrapper" style="min-height: 487px;">

            <!-- Content Header (Page header) -->
            <div class="content-header titulo-pagina">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Tarefa</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

        </div>
    </section>
</template>

<script>
    export default {
        name: "Listar"
    }
</script>

<style scoped>

</style>
