.swal2-icon {
    margin: 0.25em auto 0.875em;
}
.swal2-title {
    font-size: 1.575em;
}
.link {
    color: blue !important;
}
label {
    font-weight: 300 !important;
    color: #4e4e4e !important;
}
.em-promocao{
    background-color: #f44336;
    color: #fff;
    left: 0;
    padding: 3px;
    position: absolute;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
}

.preco-promocional {
    font-size: 0.9rem;
    text-decoration: line-through;
    color: #949292;
}
.swal2-icon {
    width: 4em !important;
    height: 4em !important;
    margin: 0.50em auto 0.875em !important;
}
.swal2-title {
    font-size: 1.45em !important;
}
.swal2-content {
    font-size: 1.10em !important;
    margin-top: 10px !important;
}
.img-apagar {
    height: 90px;
    border-radius: 50%;
}
.multiselect__input {
    border: 0 !important;
}
.input-group-sm>.form-control:not(textarea){ height: calc(2.25rem + 2px);}
