<template>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="fa-2x">
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "carregando"
    }
</script>

<style scoped>

</style>
