<template>
    <section>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" v-on:click="isMobile()">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary">

            <router-link to="/" class="brand-link">
                <span class="brand-text font-weight-light">Painel</span>
            </router-link>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-menus nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview" v-on:click="menuSideBar()">
                            <router-link :to="{ name: 'tarefa' }" class="nav-link">
                                <i class="nav-icon fas fa-tasks"></i>
                                <p>Tarefa</p>
                            </router-link>
                        </li>
                        <li class="nav-item has-treeview" v-on:click="menuSideBar()">
                            <router-link :to="{ name: 'pessoa' }" class="nav-link">
                                <i class="nav-icon fas fa-user-alt"></i>
                                <p>Pessoa</p>
                            </router-link>
                        </li>
                        <li class="nav-item has-treeview" v-on:click="menuSideBar()">
                            <a href="#" v-on:click="logout()" class="nav-link">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>Sair</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <router-view/>

        <div id="sidebar-overlay" v-on:click="isMobile()"></div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        },
        methods: {
            isMobile: function () {
                if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    document.body.classList.toggle('sidebar-open');
                } else {
                    document.body.classList.toggle('sidebar-collapse');
                }
            },
            menuSideBar: function () {
                if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    document.body.classList.toggle('sidebar-open');
                }
            },
            logout : function() {
                axios.post('/logout').then(response => {
                    location.href = "/login";
                }).catch(error => {
                    location.reload();
                });
            }
        }
    }
</script>

<style scoped>

</style>
